body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #FFF;
}
/* Navbar design */
.navbar-design{
    background-color: #11005f;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
    align-items: center;
    height: 670px;
}
.navbar-left{
    flex-direction: column;
    
}
.navbar-title{
    color: white;
    font-size: 64px;
    font-weight: 700;
    width: 485px;
    height: 230px;
    padding-left: 60px; 
}
.button-link{
    background-color: #E02C6D;
    display: flex;    
    flex-direction: row;    
    width: 168px;
    height: 44px;
    margin-left:60px; 
}
.fa-arrow-right{
    margin-left: 8px;
}
.link-description {
    text-decoration: none;
    color: white;
    align-items: center;
    padding: 10px 24px;
    
}

.navbar-right{
    width: 556.01px;
    height: 438px;
    
}
.navbar-right img{
    width: 450px;
    height: 350px;
    padding-top:50px; 
    align-items: center;
    padding-left: 80px;
    
}
/* Player Description Design */
.container{
    background-color: #FFFFFF;
    width: 1050px;
    margin-left: 160px;
    margin-bottom: 20px;
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-box{
    width: 300px;
    height: 426px;
    padding: 15px;    
}
.player-photo img{
    width: 300px;
    height: 256px;
    margin-bottom: 0;
}
.player-title{
    width: 300px;
    height: 40px;
    font-weight:700;
    font-size: 28px;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-details{
    font-size: 16px;
    color: #6C6C6C;
    height: 104px;
    margin-top: 0px;
}
/* Highlights */
.highlights{
    background-color: #FFFFFF;
    width: 1050px;
    margin-left: 160px;
    margin-bottom: 20px;
    height: 670px;
    display: flex;
    align-items: center;
}
.highlights-left{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 466px;
    height: 310px;
    padding:0;
}
.highlights-left-description{
    width: 466px;
    height: 241px;
    margin-bottom: 0;
} 
.highlights-title{    
    width: 466px;
    height: 120px;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 8px;
}
.highlights-paragraph{
    width: 404px;
    height: 113px;
    font-size: 16px;
    color:#6C6C6C;
    margin-left:0 ;
    
}
.highlights-button-link{
    background-color: #E02C6D;
    display: flex;    
    flex-direction: row;    
    width: 173px;
    height: 44px;
    margin-top:10px;    
}
.highlights-link-description{
    text-decoration: none;
    color: white;
    align-items: center;
    padding: 10px 24px;
}
.highlights-right img{
    width: 567px;
    height: 427px;
    padding-left: 69px;
}
/* Scorer */
.score-container{
    background-color: #FFFFFF;
    width: 1050px;
    margin-left: 160px;
    margin-bottom: 20px;
    height: 470px;
    
}
.scorer-title{
    padding-left: 450px;
    font-weight: 700;
    font-size: 28px;
}
.scorers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    /* padding-left: 350px; */
}
.scorer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.scorer-name{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 5px;

} 
.scorer-country{
    margin-top: 0;
    color: gray;
    margin-bottom: 2px;
    font-weight: 700;
}
.score-amount{
    font-family: 700;
    margin-top: 8px;
    color: rgb(15, 1, 1);
}

/* footer */
.footer-items{
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    
}
.footer-size{
    width: 483.87px;
    height: 213px;
   
} 
.footer-image img{
    width: 483.87px;
    height: 110px;
   
}
.footer-icon{
    display: flex;
    flex-direction: row;
    width: 170px;
    height: 32px;
    align-items: center;
    padding-left: 150px;
    padding-top: 10px;
    
}
.footer-icon img{
    height: 32px;
    width: 32px;
    padding: 10px;
}
.footer-paragraph{
    font-size: 18px;
    color: #000000;
    align-items: center;
    font-size: 18px;
    padding-left: 140px;
}
/* Media Query Started */
@media only screen and (max-width:688px){
    .navbar-design{
        
        flex-direction: column;
        width: 100%;
        height: 695px;
    }
    hr{
        display: none;
    }
   
    .navbar-left{
        padding-right: 100px;
        padding-top: 100px;
    }
    .navbar-right img{
        width: 329px;
        height: 259.17px;
        margin-left: 20px;
    }
    .navbar-title{
        width: 278px;
        height: 138px;
        font-weight: 700;
        font-size: 36px;
    }
    .container{
        width: 100%;
        margin-left: 20px;
        margin-bottom: 0;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        width: 330px;
        height: 474px;
        
    }
    .player-box{
        width: 300px;
        height: 400px;
    }
    .highlights{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
        height: 600px;
    }
    .highlights-left{
        width: 329px;
        height: 299px;
    }
    .highlights-left-description{
        width: 329px;
        height: 231px;
    }
    .highlights-title{
        width: 292px;
        height: 80px;
        font-size: 30px;
    }
    .highlights-paragraph{
        width: 329px;
        height: 143px;
        font-size: 16px;
    }
    .highlights-button-link{
        width: 173px;
        height: 44px;
        margin-top: 0;
    }
    .highlights-right img{
        width: 320px;
        height: 248px;
        margin-left: 0px;
        padding-left: 0px;
    }
    .score-container{
        margin-left: 20px;
        margin-top: 0;
    }
    .scorer-title{
        padding-left: 0;
    }
    .scorers{
        grid-template-columns: repeat(1, 1fr);
        justify-items: start;
        align-items: flex-start;
    }
    .scorer{
        flex-direction: row;
    }
    .scorer-name{
        margin-top: 0;
    }
    .scorer-country{
        align-items: center;
        padding-left: 5px;
        margin-top: 2px;
    }
    .footer-size{
        margin-top: 200px;
        height: 400px;
    }
    .footer-image img{
        width: 270px;
        height: 65px;
        padding-left: 20px;
        margin-top: 20px;

    }
    .footer-icon{
        margin-top: 20px;
        padding-left:55px ;
    }
    .footer-icon img{
        width: 170px;
        height: 32px;
        padding: 10px;
    }
    .footer-paragraph{
        margin-top: 20px;
        padding-left: 40px;
    }
}